.a{
    text-align: center;
    background-color: rgb(223, 216, 181);
    color:rgb(49, 37, 211);
    font-size: large;
}
.b{
    text-align: center;
    color: rgb(238, 229, 216);
    background-color: rgb(125, 165, 165);

}
.c{
    text-align: center;
    color:rgb(42, 54, 224);
    background-color:rgb(139, 113, 120);
}